:root {
    --secondary-color-: rgb(37, 150, 190);
}

h6,h5,h4,h3,h2,h1 {padding: 0;margin: 0;}
* {font-size: 14px;}
.button {background-color: var(--secondary-color-); padding: 3px 15px; border: none; outline: none; border-radius: .2rem;}
button {cursor: pointer;}


/* navbar */
#navbar {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    box-shadow: 5px 0 .2rem #cfcfcf;
    z-index: 9999;
    background-color: #fff;
}

#navbar a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
}

#navbar .nav {
    position: relative;
    /* background-color: red; */
    padding: 10px;
}

#navbar .menu {
    display: none;
}


#navbar .box-search {
    /* width: 50%; */
    width: 25rem;
    position: relative;
    margin-right: 1rem;
}

#navbar input {
    width: 90%;
    padding: 5px 10px;
    border-radius: 1rem;
}

#navbar .box-search button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px 10px;
    border-radius: 50%;
}

#navbar button, input {
    border: none;
    outline: none;
    background-color: #dbdbdb;
}

#navbar .menu i {
    font-size: 1.5rem;
}

#navbar .menu button {
    background-color: var(--secondary-color-);

}

/* Trending News */
.news-trending {
    margin-top: 6rem;
}
.news-trending .trending-item {
    height: 35rem;
    width: 100%;
    background-color: #333;
    position: relative;
}
.news-trending .image {
    width: 100%;
    height: 100%;
}
.news-trending img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.news-trending .trending {
    color: #fff;
    position: absolute;
    left: 1rem;
    top: 1rem;
    background-color: red;
    padding: .2rem .4rem .3rem;
    border-radius: .5rem;
}
.news-trending .title {
    position: absolute;
    bottom: 1.5rem;
    color: #fff;
    left: 1rem;
}
.news-trending .trending-right {
    width: 100%;
    height: 100%;
    position: relative;
}
.news-trending .trending-right .trending-item-right-1{
    width: 100%;
    height: 49%;
    position: relative;
}
.news-trending .trending-right .trending-item-right-2{
    width: 100%;
    height: 49%;
    position: absolute;
    bottom: 0;
}
.news-trending .trending-right .image {
    width: 100%;
    height: 100%;
}
.news-trending .trending-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.news-trending .trending-right .title {
    z-index: 999;
}

/* latest article */
.latest-article {
    background-color: salmon;
    padding: 4rem 0;
}
.latest-article .judul {
    margin-bottom: 3rem;
}
.latest-article p {
    font-size: .8rem;
}
.latest-article .card-thumbnail {
    width: 6rem;
    height: 6rem;
}
.latest-article .game-name {
    display: inline-block;
}
.latest-article img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.latest-article .description {
    width: 18rem;
    height: 6rem;
    margin-left: .7rem;
}

/* highlight video */
.highlight-video {
    padding: 5rem 0;
    background-color: beige;
}
.highlight-video .video-tiktok-box {
    width: 100%;
    height: 30rem;
    border: .1rem solid #333;
}