
.comunity-outer {
    margin-top: 7rem;
    background-color: #fff;
}
.box-post .card-post {
    background-color: #fff;
    box-shadow: 0 0 4px #cfcfcf;
}
.box-post .info {
    margin-left: .3rem;
}
.box-post .card-post .image {
    width: 3rem;
    height: 3rem;
    background-color: #333;
    border-radius: 50%;
}
.box-post .content {
    padding: 1rem 0;
}
.box-post .content p {
    font-size: 1.1rem;
}
.box-post .interaction a {
    margin-right: .5rem;
    text-decoration: none;
    color: #cfcfcf;
}
.box-post .interaction i {
    font-size: 1.8rem;
}

/* group trending */
.group-trending {
    background-color: #fff;
    box-shadow: 0 0 2px #858282;
}
.group-trending a {
    color: #333;
    text-decoration: none;
}
.group-trending .image {
    width: 5rem;
    height: 5rem;
}
.group-trending .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .5rem;
}
.advertising {
    margin-top: 3rem;
    height: 30rem;
}
.advertising img {
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
}